QMainWindow, QWidget {
    background-color: #2e3034;
    font-family: monospace;
}

QLabel {
    color: white;
    font-size: 13px;
}

QPushButton {
    color: white;
    border: 1px solid white;
    padding: 10px;
    text-transform: uppercase;
    background-color: rgba(68, 68, 68, 0.3);
}

QPushButton:hover {
    background-color: rgba(68, 68, 68, 0.7);
}

.logo {
    border: 1px solid white;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    padding: 15px;
    font-weight: bold;
}

QTableWidget {
    background-color: white;
}

.player-panel {
    background-color: #f1f1f1;
    font-weight: 700;
    font-size: 13px;
}

.player-panel QLabel {
    margin-left: 5px;
    font-weight: 700;
    color: #005e94;
    background-color: transparent;
}

.option-frame {
    border: 1px solid white;
}

QComboBox {
    padding: 5px;
    color: white;
    background-color: #2e3034;
    border: 1px solid white;
}

QComboBox:item {
    background-color: #2e3034;
    color: white;
}

.turn {
    font-size: 12px !important;
    color: white !important;
}
